body { 
	background-color: #FCD0B8;
}

.type {
	font-family: Helvetica;
	font-size: 250px;
	display: none;
	position: absolute;
	margin-top: 400px;
	margin-left: 20%;
	z-index: 2;
}

.embarrassed {
	background-color: #F78181;
	width: 3000px;
	height: 2000px;
	display: none;
	position: static;
	margin: -20px;
	z-index: 1;
}