body { 
	background-color: #666E9C;
}

.type {
	font-family: 'Questrial', sans-serif;
	font-size: 250px;
	margin: 400px 0 0 35%;
	
	  position: absolute;
	  display: block;
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-right: -50%;
	  transform: translate(-50%, -50%) 
}